/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */
// use require-prior-idle-ms for combos
#undef COMBO_HOOK
#define COMBO_HOOK require - prior - idle - ms = <150>;

#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 40
#define COMBO_GLOBAL_QUICKTAP 85

ZMK_COMBO(tab, &kp TAB, LT4 LT3, DEFAULT, COMBO_TERM_FAST)
ZMK_COMBO(escape, &kp ESC, LM4 LM5, DEFAULT, COMBO_TERM_FAST)
ZMK_COMBO(bspc, &kp BSPC, RT3 RT4, DEFAULT LOWER RAISE, COMBO_TERM_FAST)
ZMK_COMBO(apos, &kp APOS, RM3 RM4, DEFAULT, COMBO_TERM_FAST)
ZMK_COMBO(grave, &kp GRAVE, RB3 RB4, DEFAULT, COMBO_TERM_FAST)
ZMK_COMBO(mouse, &to MOUSE, LH1 LH1, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(lbrc, &kp LBRC, LT1 LT0, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(rbrc, &kp RBRC, RT0 RT1, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(lpar, &kp LPAR, LM1 LM0, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(rpar, &kp RPAR, RM0 RM1, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(lbkt, &kp LBKT, LB1 LB0, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(rbkt, &kp RBKT, RB0 RB1, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(caps, &kp CAPS, LT0 RT1, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(bslh, &kp BSLH, LB4 LB3, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(lt, &kp LT, LM0 RM0, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(gt, &kp GT, LB0 RB0, DEFAULT, COMBO_TERM_SLOW)
ZMK_COMBO(spot, &kp spot, LT1 LM4, DEFAULT, COMBO_TERM_SLOW)