#define COMBO_TERM_FAST 35
#define COMBO_TERM_SLOW 40
#define COMBO_GLOBAL_QUICKTAP 85


/ {
    combos {
        compatible = "zmk,combos";

        combo_tab {
            timeout-ms = <COMBO_TERM_FAST>;
            global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

            key-positions = <LT4 LT3>;
            layers = <DEFAULT>;
            bindings = <&kp TAB>;
        };

        combo_escape {
            timeout-ms = <COMBO_TERM_FAST>;
            global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

            key-positions = <LM4 LM3>;
            layers = <DEFAULT LOWER RAISE>;
            bindings = <&kp ESC>;
        };

        combo_bspc {
            timeout-ms = <COMBO_TERM_FAST>;
            global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

            key-positions = <RT3 RT4>;
            layers = <DEFAULT LOWER RAISE>;
            bindings = <&kp BSPC>;
        };

        combo_apos {
            timeout-ms = <COMBO_TERM_FAST>;
            global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

            key-positions = <RM3 RM4>;
            layers = <DEFAULT>;
            bindings = <&kp APOS>;
        };

        combo_grave {
            timeout-ms = <COMBO_TERM_FAST>;
            global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

            key-positions = <RB3 RB4>;
            layers = <DEFAULT>;
            bindings = <&kp GRAVE>;
        };

        combo_funceleven {
            timeout-ms = <COMBO_TERM_FAST>;
            global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

            key-positions = <RT2 RT3>;
            layers = <ADJUST>;
            bindings = <&kp F11>;
        };

        combo_functwelve {
            timeout-ms = <COMBO_TERM_FAST>;
            global-quick-tap-ms = <COMBO_GLOBAL_QUICKTAP>;

            key-positions = <RT3 RT4>;
            layers = <ADJUST>;
            bindings = <&kp F12>;
        };
    };
};